/* typography
h2{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3, h4, h5{
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}
button, input, a{
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/
/* multi use */
body, #carousel {
  background: #000000; }

.item {
  text-align: center;
  width: 30rem; }

/* forms */
.paddingBottom {
  padding-bottom: 100vh; }

#signupmodal input, #form input {
  background: #DEF2C9;
  border-color: #DEF2C9;
  opacity: .75; }
  #signupmodal input:focus, #signupmodal input:hover, #form input:focus, #form input:hover {
    opacity: 1; }

.backgroundgreen {
  background: #DEF2C9;
  border-color: #DEF2C9; }

/* login page */
#form {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center; }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5; }
  .hr-text:before {
    content: '';
    background: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    opacity: .5; }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #ffffff; }

.loginheader {
  height: 25vh; }

#logincontainer {
  height: 25vh; }

.logologin {
  width: 45%;
  display: block; }

.logosplash {
  width: 100px; }

.loginheader, #logincontainer, #logo, #form, #formhidden {
  background: #ffffff;
  padding-bottom: 30px; }

/* index page */
#preview {
  background: #ffffff; }

/* main page */
@media screen and (min-width: 900px) {
  .maxsearchwidth {
    max-width: 300px;
    align-content: end; } }
